@import url('./fonts.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'PlayFair', sans-serif;
}

.container {
  margin: auto;
  padding: 0 12px;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #FFFFFF;
}

html::-webkit-scrollbar-thumb {
  background-color: #FF5959;
}